Session #1: [45]
-------------------------------------------------------------------------------------------------------------------
basket = ["Apple", "Banana", "Cherry", "Mango"]  
Task: Insert "Grapes" between "Banana" and "Cherry".  

data = [10, 20, [30, 40, 50], 60, 70]  
Task: Change 40 to 45 inside the nested list.  

nums = [3, 6, 9, 12, 15, 18, 21]  
Task: Extract [9, 12, 15] and reverse it.  

numbers = [5, 3, 8, 5, 10, 5, 12, 5]  
Task: Remove all occurrences of 5 from numbers.  

list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]  
Task: Merge list1 and list2, then sort the combined list.  

colors = ("Red", "Green", "Blue", "Yellow")  
Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple.  

names = ["Alice", "Bob", "Charlie", "David", "Eve"]  
Task: Find the index of "Charlie".  

nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)  
Task: Count how many times 4 appears in nums_tuple.  

values = [10, 20, 30, 40, 50]  
Task: Swap the first and last elements.  

values = []
Task: Generate a list of squares for numbers from 1 to 10.  

my_tuple = (1, 2, 3, 4, 5)  
Task: Reverse my_tuple without converting it to a list.  

data = [23, 45, 67, 12, 89, 34]  
Task: Find the maximum and minimum values in data.  

nums = [10, 20, 30, 40, 50, 60, 70]  
Task: Extract every second element from nums.  

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
Task: Convert nested_list into a single flat list.  

list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  
Task: Find common elements between list_a and list_b.  

scores = [78, 55, 92, 30, 88, 62]  
Task: Sort scores in descending order.  

my_tuple = (1, 2, 3)  
Task: Repeat my_tuple three times and store the result.  

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  
Task: Remove duplicates while keeping the order.  

words = ["Hello", "World", "Python", "Programming"]  
Task: Insert "Amazing" at index 2.  

pairs = [("a", 1), ("b", 2), ("c", 3)]  
Task: Convert pairs into a dictionary.

In [2]:
# basket = ["Apple", "Banana", "Cherry", "Mango"]  
# Task: Insert "Grapes" between "Banana" and "Cherry"

basket = ["Apple", "Banana", "Cherry", "Mango"]
basket.insert(2,"Grapes")
basket

['Apple', 'Banana', 'Grapes', 'Cherry', 'Mango']

In [4]:
# data = [10, 20, [30, 40, 50], 60, 70]  
# Task: Change 40 to 45 inside the nested list.  

data = [10, 20, [30, 40, 50], 60, 70]
data[2][1] = 45
print(data)

[10, 20, [30, 45, 50], 60, 70]

In [7]:
# nums = [3, 6, 9, 12, 15, 18, 21]  
# Task: Extract [9, 12, 15] and reverse it.  

nums = [3, 6, 9, 12, 15, 18, 21] 
new_list = nums[2:5]
new_list.reverse()
new_list

[15, 12, 9]

In [8]:
# numbers = [5, 3, 8, 5, 10, 5, 12, 5]  
# Task: Remove all occurrences of 5 from numbers.

numbers = [5, 3, 8, 5, 10, 5, 12, 5]

for item in numbers:
    if item == 5:
        numbers.remove(5)
print(numbers)

[3, 8, 10, 12]

In [12]:
# Task: Merge list1 and list2, then sort the combined list.
list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]  
list1.extend(list2)
list1.sort()
print(list1)

[1, 2, 3, 4, 6, 7, 8, 9]

In [13]:
# colors = ("Red", "Green", "Blue", "Yellow")  
# Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple. 

colors = ("Red", "Green", "Blue", "Yellow")
colors_list = list(colors)
colors_list[1] = "Cyan"
colors_list

['Red', 'Cyan', 'Blue', 'Yellow']

In [14]:
# names = ["Alice", "Bob", "Charlie", "David", "Eve"]  
# Task: Find the index of "Charlie".  

names = ["Alice", "Bob", "Charlie", "David", "Eve"]
print(names.index("Charlie"))

2

In [15]:
# nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)  
# Task: Count how many times 4 appears in nums_tuple.  
nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)
count = 0

for item in nums_tuple:
    if item == 4:
        count += 1
print(count)

4

In [56]:
values = [10, 20, 30, 40, 50]  
# Task: Swap the first and last elements.  

first_val = values[0]
last_val = values[-1]
print(last_val)

values[0] = last_val
values[-1] = first_val

values

50

[50, 20, 30, 40, 10]

In [19]:
values = []
# Task: Generate a list of squares for numbers from 1 to 10. 
for item in range(1,11):
    values.append(item * item)
print(values)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
my_tuple = (1, 2, 3, 4, 5)  
# Task: Reverse my_tuple without converting it to a list.  
my_tuple[::-1]
# reversed(my_tuple)

(5, 4, 3, 2, 1)

In [27]:
data = [23, 45, 67, 12, 89, 34]  
# Task: Find the maximum and minimum values in data.  

maxi = max(data)
print(maxi)

mini = min(data)
print(mini)

89
12

In [31]:
nums = [10, 20, 30, 40, 50, 60, 70]  
# Task: Extract every second element from nums.  

print(nums[::2])

[10, 30, 50, 70]

In [54]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  

# Task: Convert nested_list into a single flat list.

list_1 = nested_list[0]
list_2 = nested_list[1]
list_3 = nested_list[2]

nested_list = list1 + list2 + list_3
nested_list

[1, 2, 3, 4, 6, 7, 8, 9, 4, 9, 2, 6, 7, 8, 9]

In [33]:
list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  
# Task: Find common elements between list_a and list_b.  


for item1 in list_a:
    for item2 in list_b:
        if item1 == item2:
            print(item2)

4
5
6

In [36]:
scores = [78, 55, 92, 30, 88, 62]  
# Task: Sort scores in descending order.  

scores.sort(reverse=True)
print(scores)

[92, 88, 78, 62, 55, 30]

In [41]:
my_tuple = (1, 2, 3)  
# Task: Repeat my_tuple three times and store the result.
new_tuple = my_tuple * 3
print(new_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [55]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  
# Task: Remove duplicates while keeping the order.

# find other techs
test = 1
for num in numbers:
    a = numbers.count(num)
    if a > 1:
        numbers.remove(num)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [45]:
words = ["Hello", "World", "Python", "Programming"]  
# Task: Insert "Amazing" at index 2.  

words.insert(2,"Amazing")
print(words)

['Hello', 'World', 'Amazing', 'Python', 'Programming']

In [53]:
pairs = [("a", 1), ("b", 2), ("c", 3)]  
# Task: Convert pairs into a dictionary.  
# Try using unpacking
new_dic = dict[pairs]
print(new_dic)

dict[[('a', 1), ('b', 2), ('c', 3)]]

In [59]:
# -------------------------------------------------

In [60]:


# Session #2 [30 - 40]
# -------------------------------------------------------------------------------------------------------------------


   
# Task: Use a for loop to calculate the sum of all elements in nums.  
nums = [1, 2, 3, 4, 5]  

sum = 0
for i in nums:
    sum = sum + i
print(sum)

15

In [61]:
count = 5  
# Task: Use a while loop to print numbers from count down to 1.

while count>0:
    print(count)
    count -=1

5
4
3
2
1

In [63]:
fruits = ["Apple", "Banana", "Cherry", "Mango"]  
# Task: Use a for loop to print each fruit in uppercase. 

for i in fruits:
    print(i.upper())

APPLE
BANANA
CHERRY
MANGO

In [86]:
i = 1  
# Task: Use a while loop to print squares of numbers from 1 to 10.  

while i <= 10:
    sq = i**2

    print(sq)

    i += 1

1
4
9
16
25
36
49
64
81
100

In [85]:
values = [2, 4, 6, 8, 10]  
# Task: Use a for loop to create a new list containing cubes of values
new_list = []
for i in values:
    cube = i**3
    new_list.append(cube)

print(new_list)

[8, 64, 216, 512, 1000]

In [72]:
sentence = "Python is fun"  
# Task: Use a for loop to count how many times 'o' appears in sentence.  


count = 0
for i in sentence:
    if i == 'o':
        count+=1
print(count)

1

In [77]:
num = 10
i = 0 
# Task: Use a while loop to print even numbers from 10 to 2 in reverse order.  

while num > 0:
    if num % 2 == 0:
        print(num)
    num -= 1

10
8
6
4
2

In [79]:
matrix = [[1, 2], [3, 4], [5, 6]]  
# Task: Use nested for loops to print all elements in matrix.  

for i in matrix:
    for j in i:
        print(j)

1
2
3
4
5
6

In [81]:
num = 7  
i = 1
# Task: Use a while loop to find the factorial of num.  
fact = 1
while i < num:
    fact = fact * i
    i += 1

print(fact)

720

In [84]:
numbers = [3, 9, 12, 18, 21, 25]  
# Task: Use a for loop to print only the numbers divisible by 3.  

for i in numbers:
    if i % 3 == 0:
        print(i)

3
9
12
18
21