List comprehensions

Creating a List from a Range

In [1]:
list1 = [n for n in range(1,10)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Square of Numbers

In [3]:
list1 = [n**2 for n in range(1,10)]
list1

[1, 4, 9, 16, 25, 36, 49, 64, 81]

Extract Even Numbers

In [4]:
list1 = [n for n in range(1,30) if n % 2 == 0]
list1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Convert Strings to Uppercase

In [6]:
words = ["hello", "world", "python"]
upper = [word.upper() for word in words]
upper

['HELLO', 'WORLD', 'PYTHON']

Nested List Comprehensions
Flatten a 2D List

In [7]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list1 = [j for i in matrix for j in i]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

List Comprehension with if-else
Label Even & Odd Numbers

In [8]:
list1 = ["even" if n % 2 == 0 else "odd" for n in range(1,10)]
list1

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

Extracting Unique Vowels from a String

In [12]:
text = "comprehension"

set1 = {char for char in text if char in "aeiou" }
set1

{'e', 'i', 'o'}

Removing Duplicates from a List

In [13]:
numbers = [1, 2, 2, 3, 4, 4, 5]
set1 = {num for num in numbers}
set1

{1, 2, 3, 4, 5}

Create a set of numbers from 1 to 50 that are divisible by both 3 and 5.

In [16]:
set1 = [num for num in range(1,50) if num % 3 == 0 and num % 5 == 0]
set1

[15, 30, 45]

Given two lists, {1, 2, 3, 4} and {3, 4, 5, 6}, find their intersection using set comprehension

In [17]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = {num for num in set1 if num in set2}
set3

{3, 4}

Extract uppercase letters from the string "Python is FUN to Learn" using set comprehension.

In [25]:
text = "Python is FUN to Learn"
print(text)

upper = [letter for letter in text if letter == letter.upper() and letter != ' ']
print(upper)

Python is FUN to Learn
['P', 'F', 'U', 'N', 'L']

Given words = ["apple", "banana", "cherry"], create a set of the first letters of each word.

In [26]:
words = ["apple", "banana", "cherry"]
set1 = [letter[0] for letter in words]
set1

['a', 'b', 'c']

Generate a set of unique characters from the phrase "Hello World", excluding spaces.

In [28]:
phrase = "Hello World"
set1 = {char for char in phrase if char != ' '}
set1

{'H', 'W', 'd', 'e', 'l', 'o', 'r'}

Generate a set of prime numbers between 1 and 50 using set comprehension.

1️⃣1️⃣ Generate a set of prime numbers between 1 and 50 using set comprehension.

1️⃣2️⃣ Given a dictionary { "a": 10, "b": 15, "c": 20 }, create a set of its values using set comprehension.

1️⃣3️⃣ Find the Cartesian product of two sets {1, 2, 3} and {4, 5} using set comprehension.

1️⃣4️⃣ Given a list of words ["python", "java", "c++", "ruby"], create a set of words that have more than 4 
letters.

1️⃣5️⃣ From the sentence "Data Science is amazing", extract all unique words (ignoring case).

Given a dictionary { "a": 10, "b": 15, "c": 20 }, create a set of its values using set comprehension

In [1]:
dic1 = { "a": 10, "b": 15, "c": 20 }
set1 = {values for values in dic1.values()}
set1

{10, 15, 20}

In [3]:
## Prime numbers

num = 17
for i in range(2,num):
    if num % i == 0:
        prime = False
        break
    else:
        prime = True
if prime:
    print("prime")
else:
    print("not prime")

prime

Given a list of words ["python", "java", "c++", "ruby"], create a set of words that have more than 4 
letters.

In [5]:
words = ["python", "java", "c++", "ruby"]

set1= {n for n in words if len(n)>4}
set1

{'python'}

Dictionary comprehensions

In [8]:
squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

Example: Convert Prices from Dollars to Rupees
prices_in_dollars = {'apple': 2, 'banana': 1, 'cherry': 3}

In [10]:
prices_in_dollars = {'apple': 2, 'banana': 1, 'cherry': 3}
prices_in_rupees = {x: y*80 for x,y in prices_in_dollars.items()}
prices_in_rupees

{'apple': 160, 'banana': 80, 'cherry': 240}

|Using Conditions in Dictionary Comprehension
Example: Assign "Even" or "Odd" Labels

In [11]:
odd_even = {x : "Even" if x % 2 == 0 else "Odd" for x in range(30)}
odd_even

{0: 'Even',
 1: 'Odd',
 2: 'Even',
 3: 'Odd',
 4: 'Even',
 5: 'Odd',
 6: 'Even',
 7: 'Odd',
 8: 'Even',
 9: 'Odd',
 10: 'Even',
 11: 'Odd',
 12: 'Even',
 13: 'Odd',
 14: 'Even',
 15: 'Odd',
 16: 'Even',
 17: 'Odd',
 18: 'Even',
 19: 'Odd',
 20: 'Even',
 21: 'Odd',
 22: 'Even',
 23: 'Odd',
 24: 'Even',
 25: 'Odd',
 26: 'Even',
 27: 'Odd',
 28: 'Even',
 29: 'Odd'}


Counting Character Frequency in a String
Example: Character Frequency in "banana"

In [12]:
word = "banana"
frequency = {char: word.count(char) for char in word}
frequency

{'b': 1, 'a': 3, 'n': 2}

Given a list of numbers, create a new list containing the squares of only the even numbers

In [14]:
squares = [num**2 for num in range(1,10) if num % 2 == 0]
squares

[4, 16, 36, 64]

Given a list of words, create a dictionary where the keys are words and the values are their lengths.

words = ["apple", "banana", "cherry", "date", "elderberry"]

In [16]:
words = ["apple", "banana", "cherry", "date", "elderberry"]

dic1 = {x : len(x) for x in words}
dic1

{'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4, 'elderberry': 10}

Given a list of tuples with names and ages, create a dictionary of names with ages only if age is greater than 1

[("Alice", 25), ("Bob", 17), ("Charlie", 19), ("David", 16)]

In [17]:
tuple1 = [("Alice", 25), ("Bob", 17), ("Charlie", 19), ("David", 16)]
dict1 = {x[0] : x[1] for x in tuple1 if x[1] > 18}
dict1

{'Alice': 25, 'Charlie': 19}

Flatten a 2D list into a 1D list using a list comprehension.

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list1 = [y for x in matrix for y in x ]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Given a string, create a dictionary where the keys are characters and values are their frequencies.

text = "comprehension"

In [19]:
text = "comprehension"
dic1 = {x : text.count(x) for x in text}
dic1

{'c': 1,
 'o': 2,
 'm': 1,
 'p': 1,
 'r': 1,
 'e': 2,
 'h': 1,
 'n': 2,
 's': 1,
 'i': 1}

Come up with an algorithm to flatten a list and implement it in python:
Example: [1, 2, 3, [4, 5, [6, 7]], 8]

In [20]:
Example =  [1, 2, 3, [4, 5, [6, 7]], 8]

In [7]:
test = [1, 2, 3, [4, 5, [6, 7]], 8]
new = []
def flatten(list1):
    for x in list1:
        if not isinstance(x,list):
            new.append(x)
        else:
            flatten(x)
    return new
flatten(test)

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
Example =  [1, 2, 3, [4, 5, [6, 7]], 8]

flattend_list = []
buffer = Example[::-1]

while buffer:
    item = buffer.pop()
    if isinstance(item,list):
        buffer.extend(item[::-1])
    else:
        flattend_list.append(item)
print(flattend_list)

[1, 2, 3, 4, 5, 6, 7, 8]