In [ ]:
#Object persistence--How to save our data
# sqlite3 
# use sql to save and retrive data in python environment
#pickle

Create database and table
insert multiple employee records
fetch all employees
fetch by condition

In [2]:
import sqlite3

In [11]:
# step1 connect with db
# keeps all db in a file

conn = sqlite3.connect('employee.db')

# cursor is pointer where we execute sql ops
cursor = conn.cursor()

In [13]:
# create a employee table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
               id INTEGER PRIMARY KEY AUTOINCREMENT,
               name TEXT NOT NULL,
               department TEXT NOT NULL,
               salary REAL NOT NULL,
               join_date TEXT
               )
        ''')

In [17]:

cursor.execute('''
               INSERT INTO employees(name,department,Salary,join_date) VALUES ("Alice","HR",60000,"2023-01-15")
               ''')
cursor.fetchall()

[]

In [18]:
# Selecting the data from the table
cursor.execute('''
SELECT * FROM employees
               ''')
cursor.fetchall()

[(1, 'Alice', 'HR', 60000.0, '2023-01-15'),
 (2, 'Alice', 'HR', 60000.0, '2023-01-15')]

In [20]:

cursor.execute("SELECT name,salary FROM employees WHERE salary > ?",(60000))

for row in cursor.fetchall():
    print(row)
print()

ProgrammingError: parameters are of unsupported type

Pickle Mode

serializing and deserializing a python object structure

Basic sys

In [21]:
import pickle
from datetime import datetime

In [22]:
# Define the user session class

class UserSession:
    def __init__(self,username,last_login_time,preferences):
        self.username = username
        self.last_login_time = last_login_time
        self.preferences = preferences
    
    def __repr__(self):
        return(f"UserSession(username = '{self.username}'), {self.last_login_time}, self.preferences = {self.preferences})")

In [ ]:
s1 = UserSession("Anil", datetime.now(), {'theme' : 'dark', "language" : "ENglish"})

#### Assignment session  2

In [2]:
import sqlite3
conn = sqlite3.connect('school.db')
cursor = conn.cursor()


cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    grade TEXT NOT NULL
)
''')
conn.commit()


students_to_insert = [
    ('Alice', 14, '8th'),
    ('Bob', 15, '9th'),
    ('Charlie', 13, '7th')
]
cursor.executemany('''
    INSERT INTO students (name, age, grade) VALUES (?, ?, ?)
        ''', students_to_insert)
conn.commit()


print("All Students:")
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.execute('''
    UPDATE students SET grade = ? WHERE name = ?
    ''', ('10th', 'Bob'))
conn.commit()

cursor.execute('''
    DELETE FROM students
    WHERE id = ?
''', (1,))
conn.commit()


print("Remaining Students:")
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.execute('SELECT COUNT(*) FROM students')
total = cursor.fetchone()[0]
print(f"Total Students: {total}")

conn.close()

All Students:
(1, 'Alice', 14, '8th')
(2, 'Bob', 15, '9th')
(3, 'Charlie', 13, '7th')
Remaining Students:
(2, 'Bob', 15, '10th')
(3, 'Charlie', 13, '7th')
Total Students: 2

In [31]:

class Student:
 
    def __init__(self, name, roll_number, marks):
        self.name = name
        self.roll_number = roll_number
        self.marks = marks
 
    def __repr__(self):
        return( f"Student(name='{self.name}', roll_number={self.roll_number}, self.marks={self.marks})")

In [33]:
s1 = Student('Anil', 112222, {'maths': 85, "science":90})
s2 = Student('Sunil', 112223, {'maths': 100, "science":95})


s2

Student(name='Sunil', roll_number=112223, self.marks={'maths': 100, 'science': 95})

In [34]:
sessions = [s1,s2]

In [36]:
with open("students.pkl", "wb") as f:
    pickle.dump(sessions, f)

In [37]:
try:
    with open("students.pkl", "rb") as f:
        loaded_sessions = pickle.load(f)
    for session in loaded_sessions:
        print(session)
except Exception as e:
    print(f"Exception {e}")

Student(name='Anil', roll_number=112222, self.marks={'maths': 85, 'science': 90})
Student(name='Sunil', roll_number=112223, self.marks={'maths': 100, 'science': 95})

In [38]:
x = 80
y = 95
loaded_sessions[0].marks["maths"] = x
loaded_sessions[0].marks["science"] = y

In [39]:
for session in loaded_sessions:
    print(session)

Student(name='Anil', roll_number=112222, self.marks={'maths': 80, 'science': 95})
Student(name='Sunil', roll_number=112223, self.marks={'maths': 100, 'science': 95})

In [ ]:
## Shelve
import