In [4]:
list1 = ["One","Two","Three","Four","Five","Six","Seven"]
print(list(enumerate(list1)))

[(0, 'One'), (1, 'Two'), (2, 'Three'), (3, 'Four'), (4, 'Five'), (5, 'Six'), (6, 'Seven')]

In [5]:
for i in enumerate(list1):
    print(i)

(0, 'One')
(1, 'Two')
(2, 'Three')
(3, 'Four')
(4, 'Five')
(5, 'Six')
(6, 'Seven')

In [7]:
for index,num in enumerate(list1):
    print(f"{index}: {num}")

0: One
1: Two
2: Three
3: Four
4: Five
5: Six
6: Seven

In [10]:
colors = ["Blue","Green","Orange","Red","Yellow"]

for item in colors:
    print(item.upper() ,end = " ")

BLUE GREEN ORANGE RED YELLOW

In [11]:
for i in range(1,11):
    print(f"{i} * {5} = {i * 5}")

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [13]:
def check_prime(num):
    if num < 2:
        return False
    else:
        for i in range(2,num):
            if num % i == 0:
                return False
        return True
    
check_prime(17)

True

In [19]:
import math
def check_prime(num):
    if num < 2:
        return False
    elif num == 2:
        return True
    elif num % 2 == 0:
        return False
    else:
        for i in range(3,int(math.sqrt(num)) + 1, 2):
            if num % i == 0:
                return False
    return True

check_prime(29)

True

In [20]:
list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  
# Task: Find common elements between list_a and list_b.

for i in list_a:
    if i in list_b:
        print(i)

4
5
6

In [21]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  
# Task: Remove duplicates while keeping the order. 
unique = []

for i in numbers:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 2, 3, 4, 5, 6]

In [25]:
a = ['Mahesh', 'Lakith', 25, 26] 
# how to convert this to below dict format
# a = {'Mahesh:25','lakith:26']  

name = []
age = []

for i in a:
    if isinstance(i,str):
        name.append(i)
    else:
        age.append(i)

new = zip(name,age)
print(dict(new))

{'Mahesh': 25, 'Lakith': 26}

In [26]:
# reverse the keys and values
D = {'name':'Anil', 'age':35, 'company':'UST Global', 'location':'Bangalore', 'salary':'1000000'}

rd = {}
for key,value in D.items():
    rd[value] = key
rd

{'Anil': 'name',
 35: 'age',
 'UST Global': 'company',
 'Bangalore': 'location',
 '1000000': 'salary'}

In [30]:
# Task: Merge two dictionaries and sum the values of common keys.  
# Example:  
d1 = {'a': 10, 'b': 20}  
d2 = {'b': 30, 'c': 40}  
# Output: {'a': 10, 'b': 50, 'c': 40}  

d3 = {}

for key in d1:
    if key not in d2:
        d2[key] = d1[key]
    else:
        d2[key] += d1[key]
print(d2)

{'b': 50, 'c': 40, 'a': 10}

In [ ]:
word1 = "listen"  
word2 = "silent"

if sorted(word1) == sorted(word2):
    print("Anagram")

Session #1: [45]
-------------------------------------------------------------------------------------------------------------------
basket = ["Apple", "Banana", "Cherry", "Mango"]  
Task: Insert "Grapes" between "Banana" and "Cherry".  

data = [10, 20, [30, 40, 50], 60, 70]  
Task: Change 40 to 45 inside the nested list.  

nums = [3, 6, 9, 12, 15, 18, 21]  
Task: Extract [9, 12, 15] and reverse it.  

numbers = [5, 3, 8, 5, 10, 5, 12, 5]  
Task: Remove all occurrences of 5 from numbers.  

list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]  
Task: Merge list1 and list2, then sort the combined list.  

colors = ("Red", "Green", "Blue", "Yellow")  
Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple.  

names = ["Alice", "Bob", "Charlie", "David", "Eve"]  
Task: Find the index of "Charlie".  

nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)  
Task: Count how many times 4 appears in nums_tuple.  

values = [10, 20, 30, 40, 50]  
Task: Swap the first and last elements.  

values = []
Task: Generate a list of squares for numbers from 1 to 10.  

my_tuple = (1, 2, 3, 4, 5)  
Task: Reverse my_tuple without converting it to a list.  

data = [23, 45, 67, 12, 89, 34]  
Task: Find the maximum and minimum values in data.  

nums = [10, 20, 30, 40, 50, 60, 70]  
Task: Extract every second element from nums.  


**************************************************************
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
Task: Convert nested_list into a single flat list.  
**************************************************************


**************************************************************
list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  
Task: Find common elements between list_a and list_b.  
**************************************************************

scores = [78, 55, 92, 30, 88, 62]  
Task: Sort scores in descending order.  

my_tuple = (1, 2, 3)  
Task: Repeat my_tuple three times and store the result.  

**************************************************************
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  
Task: Remove duplicates while keeping the order.  
**************************************************************

words = ["Hello", "World", "Python", "Programming"]  
Task: Insert "Amazing" at index 2.  


**************************************************************
pairs = [("a", 1), ("b", 2), ("c", 3)]  
Task: Convert pairs into a dictionary.  
**************************************************************


Session #2 [30 - 40]
-------------------------------------------------------------------------------------------------------------------


nums = [1, 2, 3, 4, 5]  
Task: Use a for loop to calculate the sum of all elements in nums.  

count = 5  
Task: Use a while loop to print numbers from count down to 1.  

fruits = ["Apple", "Banana", "Cherry", "Mango"]  
Task: Use a for loop to print each fruit in uppercase.  

num = 1  
Task: Use a while loop to print squares of numbers from 1 to 10.  

values = [2, 4, 6, 8, 10]  
Task: Use a for loop to create a new list containing cubes of values.  

sentence = "Python is fun"  
Task: Use a for loop to count how many times 'o' appears in sentence.  

num = 10  
Task: Use a while loop to print even numbers from 10 to 2 in reverse order.  

matrix = [[1, 2], [3, 4], [5, 6]]  
Task: Use nested for loops to print all elements in matrix.  

num = 7  
Task: Use a while loop to find the factorial of num.  

numbers = [3, 9, 12, 18, 21, 25]  
Task: Use a for loop to print only the numbers divisible by 3.  



Session #3 [40]
-------------------------------------------------------------------------------------------------------------------

1. Count Word Frequency in a Sentence  
Task: Given a sentence, count the occurrences of each word using a dictionary.  
Example:  
sentence = "apple banana apple orange banana apple"  
Output: {'apple': 3, 'banana': 2, 'orange': 1}  

2. Find Unique Elements in Two Lists Using Sets  
Task: Given two lists, find the elements that are unique to each list using sets.  
Example:  
list1 = {1, 2, 3, 4}  
list2 = {3, 4, 5, 6}  
Output: Unique in list1: {1, 2}, Unique in list2: {5, 6}  

3. Merge Two Dictionaries  
Task: Merge two dictionaries and sum the values of common keys.  
Example:  
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40}  
Output: {'a': 10, 'b': 50, 'c': 40}  

4. Find the Intersection of Two Sets  
Task: Given two sets, find the common elements.  
Example:  
set1 = {1, 2, 3, 4}  
set2 = {3, 4, 5, 6}  
Output: {3, 4}  

5. Find the Most Frequent Element in a List  
Task: Given a list, find the element that appears the most times.  
Example:  
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]  
Output: Most frequent: 3 (appears 4 times)  

6. Remove Duplicates from a List Using Sets  
Task: Remove duplicates from a list while maintaining order.  
Example:  
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]  
Output: [1, 2, 3, 4, 5, 6]  

7. Find Students Who Enrolled in Both Courses  
Task: Given two sets of students, find those who are enrolled in both courses.  
Example:  
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  
Output: {"Bob", "Charlie"}  

8. Find the Union of Multiple Sets  
Task: Find the union of three sets.  
Example:  
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
set3 = {5, 6, 7}  
Output: {1, 2, 3, 4, 5, 6, 7}  

9. Reverse a Dictionary (Keys Become Values, Values Become Keys)  
Task: Swap keys and values in a dictionary.  
Example:  
original_dict = {'a': 1, 'b': 2, 'c': 3}  
Output: {1: 'a', 2: 'b', 3: 'c'}  

10. Check If Two Words Are Anagrams Using Dictionaries  
Task: Given two words, check if they are anagrams (i.e., contain the same letters with the same frequency).  
Example:  
word1 = "listen"  
word2 = "silent"  
Output: True (They are anagrams)

In [32]:
"""
numbers = [5, 3, 8, 5, 10, 5, 12, 5]  
Task: Remove all occurrences of 5 from numbers. 

"""
numbers = [5, 3, 8, 5, 10, 5, 12, 5]  

for i in numbers:
    if i == 5:
        numbers.remove(i)
print(numbers)

[3, 8, 10, 12]

In [35]:
"""
names = ["Alice", "Bob", "Charlie", "David", "Eve"]  
Task: Find the index of "Charlie".

"""

names = ["Alice", "Bob", "Charlie", "David", "Eve"]
names.index("Charlie")

2

In [36]:
"""
my_tuple = (1, 2, 3, 4, 5)  
Task: Reverse my_tuple without converting it to a list. 

"""

my_tuple = (1, 2, 3, 4, 5)
my_tuple[::-1]

(5, 4, 3, 2, 1)

In [38]:
"""

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
Task: Convert nested_list into a single flat list.  

"""

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new = []

for i in nested_list:
    for j in i:
        new.append(j)
print(new)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
"""
pairs = [("a", 1), ("b", 2), ("c", 3)]  
Task: Convert pairs into a dictionary.  

"""
pairs = [("a", 1), ("b", 2), ("c", 3)]  

new_dict = {}

for i in pairs:
    new_dict[i[0]] = i[1]
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}

In [43]:
"""

5. Find the Most Frequent Element in a List  
Task: Given a list, find the element that appears the most times.  
Example:  
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]  
Output: Most frequent: 3 (appears 4 times)  

"""
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]

# for i in numbers:
#     print(numbers.count(i))

2
4
2
4
1
4
1
2
2
4

In [44]:
"""
7. Find Students Who Enrolled in Both Courses  
Task: Given two sets of students, find those who are enrolled in both courses.  
Example:  
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  
Output: {"Bob", "Charlie"}  

"""

course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  

set1 = set()

for i in course_A:
    if i in course_B:
        set1.add(i)
print(set1)

{'Bob', 'Charlie'}